<div class="area-login-backgorund d-nome d-md"></div>

<div class="area-form">
    <form action="">
        <h1 class="titulo">APLICAÇÃO CRUD</h1>
        <h2 class="subtitulo">Mais eficiancia no controle de usuários</h2>

        <input [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite seu nome">

        <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="input-form" type="text" placeholder="Digite a sua senha">

        <app-button textButton="Acessar" size="100" (click)="login()"></app-button>
    </form>
    <p class="footer">© 2024 | Desenvolvido por Cleiton Fonseca</p>
</div>
